@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 195 100% 98%;
    --foreground: 210 50% 15%;

    --card: 180 40% 98%;
    --card-foreground: 210 50% 15%;

    --popover: 180 40% 98%;
    --popover-foreground: 210 50% 15%;

    --primary: 266 4% 20.8%;
    --primary-foreground: 248 0.3% 98.4%;

    --secondary: 248 0.7% 96.8%;
    --secondary-foreground: 266 4% 20.8%;

    --muted: 248 0.7% 96.8%;
    --muted-foreground: 257 4.6% 55.4%;

    --accent: 248 0.7% 96.8%;
    --accent-foreground: 266 4% 20.8%;

    --destructive: 27 24.5% 57.7%;
    --destructive-foreground: 0 0% 100%;

    --border: 195 40% 88%;
    --input: 195 40% 88%;
    --ring: 174 72% 40%;

    --radius: 0.375rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 210 50% 15%;

    --sidebar-primary: 174 72% 40%;

    --sidebar-primary-foreground: 0 0% 100%;

    --sidebar-accent: 350 65% 90%;

    --sidebar-accent-foreground: 210 50% 15%;

    --sidebar-border: 195 40% 88%;

    --sidebar-ring: 174 72% 40%;

    --chart-1: 41 22.2% 64.6%;

    --chart-2: 185 11.8% 60%;

    --chart-3: 227 7% 39.8%;

    --chart-4: 84 18.9% 82.8%;

    --chart-5: 70 18.8% 76.9%;

    --sidebar: 248 0.3% 98.4%;

    --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;

    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

    --shadow-2xs: 0 1px 3px 0px hsl(200 50% 30% / 0.05);

    --shadow-xs: 0 1px 3px 0px hsl(200 50% 30% / 0.05);

    --shadow-sm: 0 1px 3px 0px hsl(200 50% 30% / 0.1), 0 1px 2px -1px hsl(200 50% 30% / 0.1);

    --shadow: 0 1px 3px 0px hsl(200 50% 30% / 0.1), 0 1px 2px -1px hsl(200 50% 30% / 0.1);

    --shadow-md: 0 1px 3px 0px hsl(200 50% 30% / 0.1), 0 2px 4px -1px hsl(200 50% 30% / 0.1);

    --shadow-lg: 0 1px 3px 0px hsl(200 50% 30% / 0.1), 0 4px 6px -1px hsl(200 50% 30% / 0.1);

    --shadow-xl: 0 1px 3px 0px hsl(200 50% 30% / 0.1), 0 8px 10px -1px hsl(200 50% 30% / 0.1);

    --shadow-2xl: 0 1px 3px 0px hsl(200 50% 30% / 0.25);

    --tracking-normal: 0em;

    --spacing: 0.25rem;
  }

  .dark {
    --background: 0 0% 15%;
    --foreground: 248 0.3% 98.4%;

    --card: 266 4% 20.8%;
    --card-foreground: 248 0.3% 98.4%;

    --popover: 225 45% 18%;
    --popover-foreground: 180 30% 95%;

    --primary: 256 1.3% 92.9%;
    --primary-foreground: 266 4% 20.8%;

    --secondary: 260 4.1% 27.9%;
    --secondary-foreground: 248 0.3% 98.4%;

    --muted: 220 40% 22%;
    --muted-foreground: 195 30% 60%;

    --accent: 260 4.1% 27.9%;
    --accent-foreground: 248 0.3% 98.4%;

    --destructive: 22 19.1% 70.4%;
    --destructive-foreground: 248 0.3% 98.4%;

    --border: 220 40% 25%;
    --input: 220 40% 28.0000%;
    --ring: 174 65% 50%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 180 30% 95%;
    --sidebar-primary: 174 65% 50%;
    --sidebar-primary-foreground: 220 50% 10%;
    --sidebar-accent: 280 40% 30%;
    --sidebar-accent-foreground: 180 30% 95%;
    --sidebar-border: 220 40% 25%;
    --sidebar-ring: 174 65% 50%;
    --chart-1: 264 24.3% 48.8%;
    --chart-2: 162 17% 69.6%;
    --chart-3: 70 18.8% 76.9%;
    --chart-4: 304 26.5% 62.7%;
    --chart-5: 16 24.6% 64.5%;
    --sidebar: 266 4% 20.8%;
    --shadow-2xs: 0 1px 3px 0px hsl(220 80% 5% / 0.3);
    --shadow-xs: 0 1px 3px 0px hsl(220 80% 5% / 0.3);
    --shadow-sm: 0 1px 3px 0px hsl(220 80% 5% / 0.4), 0 1px 2px -1px hsl(220 80% 5% / 0.4);
    --shadow: 0 1px 3px 0px hsl(220 80% 5% / 0.4), 0 1px 2px -1px hsl(220 80% 5% / 0.4);
    --shadow-md: 0 1px 3px 0px hsl(220 80% 5% / 0.4), 0 2px 4px -1px hsl(220 80% 5% / 0.4);
    --shadow-lg: 0 1px 3px 0px hsl(220 80% 5% / 0.4), 0 4px 6px -1px hsl(220 80% 5% / 0.4);
    --shadow-xl: 0 1px 3px 0px hsl(220 80% 5% / 0.4), 0 8px 10px -1px hsl(220 80% 5% / 0.4);
    --shadow-2xl: 0 1px 3px 0px hsl(220 80% 5% / 0.5);
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
